# Análise de Comportamento de Compra de Consumidores

Levantamento de algumas informações e dados sobre as compras feitas em um website, levando em conta gênero, idade, valores, items, entre outros aspectos.

In [1]:
# Bibliotecas
import pandas as pd
import numpy as np

In [2]:
# Carregando o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Informações Sobre os Consumidores

In [4]:
# Criando um dataframe somente com as informações demográficas
demographics = purchase_file[['Sexo', 'Login', 'Idade']]
demographics.head()

        Sexo         Login  Idade
0  Masculino     Aelalis34     38
1  Masculino        Eolo46     21
2  Masculino   Assastnya25     34
3  Masculino  Pheusrical25     21
4  Masculino        Aela59     23

In [5]:
# Limpeza dos dados e removendo duplicatas
demographics = demographics.drop_duplicates()
unique = demographics.count()[0]
unique

573

In [6]:
# Converetendo o resultado para DataFrame para uso em posterior análise
pd.DataFrame({'Total de Clientes': [unique]})

   Total de Clientes
0                573

## Análise Geral de Compras

In [7]:
#Número de itens exclusivos
item_id = len(purchase_file['Item ID'].unique())
item_id

183

In [8]:
#Preço médio de compra
average_item_price = purchase_file['Valor'].mean()
average_item_price

2.931192307692303

In [9]:
#Número total de compras
total_item_count = purchase_file['Valor'].count()
total_item_count

780

In [10]:
#Rendimento total
total_item_price = purchase_file['Valor'].sum()
total_item_price

2286.33

In [12]:
# Dataframe com os resultados
purchases = pd.DataFrame({'Número de Itens Únicos': item_id, 
                         'Número Total de Compras': total_item_count,
                         'Total de Vendas': total_item_price,
                         'Preço Médio': [average_item_price]})
purchases = purchases.round(2)
purchases

,Número de Itens Únicos,Número Total de Compras,Total de Vendas,Preço Médio
0,183,780,2286.33,2.93

## Análise Demográfica

In [19]:
# Contagem de compradores por gênero
gender_count = demographics['Sexo'].value_counts()
gender_count

Masculino                465
Feminino                 100
Outro / Não Divulgado      8
Name: Sexo, dtype: int64

In [16]:
# Porcentagem de compradores por gênero
gender_percent = (gender_count / unique) * 100
gender_percent

Masculino                81.151832
Feminino                 17.452007
Outro / Não Divulgado     1.396161
Name: Sexo, dtype: float64

In [17]:
# Dataframe com resultados
gender_demographics = pd.DataFrame({'Total': gender_count,
                                   '%': gender_percent})
gender_demographics = gender_demographics.round(2)
gender_demographics

                       Total      %
Masculino                465  81.15
Feminino                 100  17.45
Outro / Não Divulgado      8   1.40

## Análise de Compras Por Gênero

In [20]:
#Número de compras por gênero
purchase_count = purchase_file.groupby(['Sexo']).count()['Valor'].rename('Número de Compras')
purchase_count

Sexo
Feminino                 136
Masculino                633
Outro / Não Divulgado     11
Name: Número de Compras, dtype: int64

In [21]:
#Preço médio de compra por gênero
gender_average = purchase_file.groupby(['Sexo']).mean()['Valor'].rename('Preço Médio')
gender_average

Sexo
Feminino                 2.815515
Masculino                2.950521
Outro / Não Divulgado    3.249091
Name: Preço Médio, dtype: float64

In [22]:
#Valor Total de Compra por gênero
gender_total = purchase_file.groupby(['Sexo']).sum()['Valor'].rename('Total')
gender_total

Sexo
Feminino                  382.91
Masculino                1867.68
Outro / Não Divulgado      35.74
Name: Total, dtype: float64

In [24]:
# Dataframe com os resultados
gender_analysis = pd.DataFrame({'Número de Compras': purchase_count,
                               'Valor Médio por Compra': gender_average,
                               'Total de Vendas': gender_total}).reset_index()
gender_analysis = gender_analysis.round(2)
gender_analysis

,Sexo,Número de Compras,Valor Médio por Compra,Total de Vendas
0,Feminino,136,2.82,382.91
1,Masculino,633,2.95,1867.68
2,Outro / Não Divulgado,11,3.25,35.74

## Análise de Compras por Faixa Etária

In [25]:
# Idades dos clientes
age_count = purchase_file['Idade'].value_counts()
age_count

20    98
24    70
22    68
25    67
23    57
15    47
21    43
18    24
16    23
19    22
29    21
27    19
7     19
30    18
17    17
31    16
40    14
26    13
35    12
13    11
33    11
32    11
37     9
38     9
11     9
34     8
36     7
9      6
14     6
28     5
12     5
39     5
10     4
8      3
45     1
42     1
43     1
Name: Idade, dtype: int64

In [26]:
# Preço médio de compra por idade
age_average = purchase_file.groupby(['Idade']).mean()['Valor']
age_average

Idade
7     2.919474
8     1.956667
9     3.686667
10    3.290000
11    2.973333
12    3.842000
13    2.138182
14    2.383333
15    2.986383
16    2.639565
17    3.006471
18    2.797500
19    3.050000
20    2.884490
21    2.799302
22    3.030147
23    2.740526
24    3.049429
25    3.082388
26    2.448462
27    3.063684
28    2.562000
29    2.902857
30    3.111667
31    2.976250
32    3.409091
33    2.890909
34    3.040000
35    3.085000
36    2.877143
37    2.345556
38    2.865556
39    3.068000
40    3.222143
42    2.110000
43    3.810000
45    2.720000
Name: Valor, dtype: float64

In [27]:
# Valor total de compra por idade
age_total = purchase_file.groupby(['Idade']).sum()['Valor']
age_total

Idade
7      55.47
8       5.87
9      22.12
10     13.16
11     26.76
12     19.21
13     23.52
14     14.30
15    140.36
16     60.71
17     51.11
18     67.14
19     67.10
20    282.68
21    120.37
22    206.05
23    156.21
24    213.46
25    206.52
26     31.83
27     58.21
28     12.81
29     60.96
30     56.01
31     47.62
32     37.50
33     31.80
34     24.32
35     37.02
36     20.14
37     21.11
38     25.79
39     15.34
40     45.11
42      2.11
43      3.81
45      2.72
Name: Valor, dtype: float64

In [28]:
# Porcentagem de clientes por idade
age_percent = (age_count / unique) * 100
age_percent

20    17.102967
24    12.216405
22    11.867365
25    11.692845
23     9.947644
15     8.202443
21     7.504363
18     4.188482
16     4.013962
19     3.839442
29     3.664921
27     3.315881
7      3.315881
30     3.141361
17     2.966841
31     2.792321
40     2.443281
26     2.268761
35     2.094241
13     1.919721
33     1.919721
32     1.919721
37     1.570681
38     1.570681
11     1.570681
34     1.396161
36     1.221640
9      1.047120
14     1.047120
28     0.872600
12     0.872600
39     0.872600
10     0.698080
8      0.523560
45     0.174520
42     0.174520
43     0.174520
Name: Idade, dtype: float64

In [29]:
# Dataframe com os resultados
age_analysis = pd.DataFrame({'Total': age_count,
                            '%': age_percent,
                            'Valor Médio': age_average,
                            'Valor Total': age_total})
age_analysis = age_analysis.round(2)
age_analysis

    Total      %  Valor Médio  Valor Total
7      19   3.32         2.92        55.47
8       3   0.52         1.96         5.87
9       6   1.05         3.69        22.12
10      4   0.70         3.29        13.16
11      9   1.57         2.97        26.76
12      5   0.87         3.84        19.21
13     11   1.92         2.14        23.52
14      6   1.05         2.38        14.30
15     47   8.20         2.99       140.36
16     23   4.01         2.64        60.71
17     17   2.97         3.01        51.11
18     24   4.19         2.80        67.14
19     22   3.84         3.05        67.10
20     98  17.10         2.88       282.68
21     43   7.50         2.80       120.37
22     68  11.87         3.03       206.05
23     57   9.95         2.74       156.21
24     70  12.22         3.05       213.46
25     67  11.69         3.08       206.52
26     13   2.27         2.45        31.83
27     19   3.32         3.06        58.21
28      5   0.87         2.56        12.81
29     21   3.66         2.90        60.96
30     18   3.14         3.11        56.01
31     16   2.79         2.98        47.62
32     11   1.92         3.41        37.50
33     11   1.92         2.89        31.80
34      8   1.40         3.04        24.32
35     12   2.09         3.08        37.02
36      7   1.22         2.88        20.14
37      9   1.57         2.35        21.11
38      9   1.57         2.87        25.79
39      5   0.87         3.07        15.34
40     14   2.44         3.22        45.11
42      1   0.17         2.11         2.11
43      1   0.17         3.81         3.81
45      1   0.17         2.72         2.72

## Clientes que Mais Gastam (Top 5)

In [30]:
# Total das compras por login
login_total = purchase_file.groupby(['Login']).sum()['Valor']
login_total

Login
Adairialis76    2.46
Aduephos78      6.70
Aeduera68       5.80
Aela49          2.46
Aela59          1.27
                ...
Yasurra52       3.14
Yathecal72      7.77
Yathecal82      2.41
Zhisrisu83      2.46
Zontibe81       3.71
Name: Valor, Length: 573, dtype: float64

In [31]:
# Média das compras por login
login_average = purchase_file.groupby(['Login']).mean()['Valor']
login_average

Login
Adairialis76    2.460000
Aduephos78      2.233333
Aeduera68       1.933333
Aela49          2.460000
Aela59          1.270000
                  ...
Yasurra52       3.140000
Yathecal72      3.885000
Yathecal82      2.410000
Zhisrisu83      1.230000
Zontibe81       3.710000
Name: Valor, Length: 573, dtype: float64

In [32]:
# Número de compras por login
login_count = purchase_file.groupby(['Login']).count()['Valor']
login_count

Login
Adairialis76    1
Aduephos78      3
Aeduera68       3
Aela49          1
Aela59          1
               ..
Yasurra52       1
Yathecal72      2
Yathecal82      1
Zhisrisu83      2
Zontibe81       1
Name: Valor, Length: 573, dtype: int64

In [33]:
# Dataframe com os resultados
login_analysis = pd.DataFrame({'Valor Total': login_total,
                              'Valor Médio': login_average,
                              'Número de Compras': login_count}).reset_index()
login_analysis = login_analysis.round(2)
login_analysis

            Login  Valor Total  Valor Médio  Número de Compras
0    Adairialis76         2.46         2.46                  1
1      Aduephos78         6.70         2.23                  3
2       Aeduera68         5.80         1.93                  3
3          Aela49         2.46         2.46                  1
4          Aela59         1.27         1.27                  1
..            ...          ...          ...                ...
568     Yasurra52         3.14         3.14                  1
569    Yathecal72         7.77         3.88                  2
570    Yathecal82         2.41         2.41                  1
571    Zhisrisu83         2.46         1.23                  2
572     Zontibe81         3.71         3.71                  1

[573 rows x 4 columns]

In [34]:
# Top 5
login_analysis.sort_values(by='Valor Total', ascending=False).head(5)

           Login  Valor Total  Valor Médio  Número de Compras
538  Undirrala66        17.06         3.41                  5
428     Saedue76        13.56         3.39                  4
354  Mindimnya67        12.74         3.18                  4
181   Haellysu29        12.73         4.24                  3
120       Eoda93        11.58         3.86                  3

## Itens Mais Comprados (Top 5)

In [35]:
# Total das compras por item
item_total = purchase_file.groupby(['Nome do Item']).sum()['Valor']
item_total

Nome do Item
Abyssal Shard                       6.12
Aetherius, Boon of the Blessed     19.00
Agatha                              9.55
Alpha                              10.92
Alpha, Oath of Zeal                20.16
                                   ...
Wolf                                9.20
Wolf, Promise of the Moonwalker    13.16
Worldbreaker                        6.58
Yearning Crusher                    2.12
Yearning Mageblade                  7.16
Name: Valor, Length: 179, dtype: float64

In [36]:
# Média das compras por item
item_average = purchase_file.groupby(['Nome do Item']).mean()['Valor']
item_average

Nome do Item
Abyssal Shard                      2.04
Aetherius, Boon of the Blessed     4.75
Agatha                             1.91
Alpha                              1.56
Alpha, Oath of Zeal                2.88
                                   ...
Wolf                               1.84
Wolf, Promise of the Moonwalker    1.88
Worldbreaker                       3.29
Yearning Crusher                   1.06
Yearning Mageblade                 1.79
Name: Valor, Length: 179, dtype: float64

In [37]:
# Número de compras por item
item_count = purchase_file.groupby(['Nome do Item']).count()['Valor']
item_count

Nome do Item
Abyssal Shard                      3
Aetherius, Boon of the Blessed     4
Agatha                             5
Alpha                              7
Alpha, Oath of Zeal                7
                                  ..
Wolf                               5
Wolf, Promise of the Moonwalker    7
Worldbreaker                       2
Yearning Crusher                   2
Yearning Mageblade                 4
Name: Valor, Length: 179, dtype: int64

In [40]:
# Dataframe com os resultados
item_analysis = pd.DataFrame({'Valor Total': item_total,
                             'Valor Médio': item_average,
                             'Número de Compras': item_count}).reset_index()
item_analysis = item_analysis.round(2)
item_analysis

,Nome do Item,Valor Total,Valor Médio,Número de Compras
0,Abyssal Shard,6.12,2.04,3
1,"Aetherius, Boon of the Blessed",19.00,4.75,4
2,Agatha,9.55,1.91,5
3,Alpha,10.92,1.56,7
4,"Alpha, Oath of Zeal",20.16,2.88,7
...,...,...,...,...
174,Wolf,9.20,1.84,5
175,"Wolf, Promise of the Moonwalker",13.16,1.88,7
176,Worldbreaker,6.58,3.29,2
177,Yearning Crusher,2.12,1.06,2
178,Yearning Mageblade,7.16,1.79,4

In [41]:
#Top5
item_analysis.sort_values(by='Número de Compras', ascending=False).head(5)

,Nome do Item,Valor Total,Valor Médio,Número de Compras
56,Final Critic,38.60,2.76,14
8,Arcane Gem,24.53,2.23,11
11,"Betrayal, Whisper of Grieving Widows",25.85,2.35,11
137,Stormcaller,34.65,3.47,10
173,Woeful Adamantite Claymore,11.16,1.24,9

## Itens Mais Lucrativos (Top 5)

In [42]:
#Top5
item_analysis.sort_values(by='Valor Total', ascending=False).head(5)

                   Nome do Item  Valor Total  Valor Médio  Número de Compras
56                 Final Critic        38.60         2.76                 14
112             Retribution Axe        37.26         4.14                  9
137                 Stormcaller        34.65         3.47                 10
132  Spectral Diamond Doomblade        29.75         4.25                  7
96                      Orenmir        29.70         4.95                  6